*{
    box-sizing: border-box;
}
.main__page{
    background: url("../images/background.png");
    width: 1366px;
    height: 768px;
}
.container__top{
    display: flex;
    padding-left: 161px;
    padding-top: 51px;
    position: relative;
}

.title{
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 29px;
    line-height: 29px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    align-self: flex-start;
    position: absolute;
    left: 222px;
    top: 24px;
}
.subtitle{
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    position: absolute;
    left: 222px;
    top: 61px;
}
.logo__link{
    text-decoration: none;
}
.logo__link:hover{
    color: orange;
}
.contact__link{
    text-decoration: none;
    color: #FFFFFF;
}
.contact__link:hover{
    color: orange;
}
.email{
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    align-items: center;
    color: #FFFFFF;
    position: absolute;
    left: 970px;
    top: 46px;
    text-decoration: none;
}
.number{
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    position: absolute;
    left: 1043px;
    top: 86px;
    text-decoration: none;
}
.email:hover{
    color: orange;
}

.number:hover{
    color: orange;
}
.content__list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 123px;
}
.main__link{
    position: relative;
    text-decoration: none;
    display: flex;
}
.main__link:hover{
    color: orange;
}
.main__text{
    position: absolute;
    top: 220px;
    left: 90px;
    color: #FFFFFF;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
}
.main__text:hover{
    color: orange;
}
.main__item{
    background: #F26522;
    align-self: flex-end;
    width: 302px;
    height: 55px;
    position: relative;

}
.main__link:first-child{
    background: url("../images/image.png");
    width: 304px;
    height: 222px;
}
.main__link:nth-child(2){
    background: url("../images/image (1).png");
    width: 309px;
    height: 230px;
}
.main__link:nth-child(3){
    background: url("../images/image(6).png");
    width: 303px;
    height: 222px;
}
.main__link:nth-child(4){
    background: url("../images/image (2).png");
    width: 304px;
    height: 222px;
    margin-top: 78px;
}
.main__link:nth-child(5){
    background: url("../images/image (3).png");
    width: 304px;
    height: 222px;
    margin-top: 78px;
}
.main__link:last-child{
    background: url("../images/image (5).png");
    width: 301px;
    height: 222px;
    margin-top: 78px;
}
.price{
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    position: absolute;
    left: 16px;
    top: 29px;
}
.from{
    font-family: Roboto,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 10px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    position: absolute;
    top: 7px;
    left: 16px;
}
.details{
    font-family: Roboto,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    position: absolute;
    top: 29px ;
    left: 180px;
}
i{
    border: solid white;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 2px;
    margin-left: 10px;
}
.arrow{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}



